.payment-setting__title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.payment-setting__row {
  display: flex;
}

.payment-setting__row .label {
  font-size: 0.875rem;
  font-weight: bold;
  min-width: 150px;
}

.payment-setting__row .value {
  font-size: 0.875rem;  
}

.logo {
  width: 50px;
  object-fit: contain;
  aspect-ratio: 2;
}